*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CORPO */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(121, 121, 93), rgb(93, 147, 115), rgb(121, 121, 93));
    font-family: sans-serif;
}

/* CAIXA PRINCIPAL */
main{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(239, 233, 233), rgb(235, 232, 232));
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 5px 12px black;
}

/* IMAGEM */
main img{
    width: 35%;
    margin: 0 auto; /* PARA CENTRALIZAR A IMAGEM BEM NO MEIO, NA MESMA LINHA */
}

/* TITULO DA CAIXA PRINCIPAL / ABAIXO DA IMAGEM */
main h1{
    text-align: center;
    margin: 20px;
    font-size: 55px;
    background-image: linear-gradient(to right, rgb(54, 47, 47), rgb(88, 122, 82), rgb(54, 47, 47));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* TEXTOS DE ENTRADA DE DADOS */
main form .entrada input{
    width: 80%;
    display: grid;
    justify-self: center;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
}

/* TELA INCLUIR - USUARIO INCLUI A SENHA */
main #incluir-senha input{
    width: 80%;
    display: grid;
    justify-self: center;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
}

/* TELA DE CADASTRO - DADOS DE ENTRADA*/
main #entrada-cadastro{
    margin-top: 100px;
}

/* TELA DE CADASTRO - MOSTRAR DADOS DE CONTA */
main .mostrar-conta{
    margin: 20px auto;
    font-size: 20px;
    line-height: 40px;
    color: rgb(23, 72, 23);
}

/* PARTE ONDE SERÁ MOSTRADA A SENHA */
main #mostrar-senha input{
    display: block;
    margin: 20px auto;
    padding: 20px 20px;
    width: 80%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    text-align: center;
    cursor: auto;
}

/* MENSAGEM NA TELA DE ACESSO PERGUNTANDO */
main div#pergunta-acesso{
    text-align: center;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: white;
    width: 85%;
    margin: 70px auto;
    padding: 30px;
    border-radius: 20px;
    color: rgb(30, 97, 30);
}

/* TELA FALE CONOSCO - TELA DE INFORMAÇÕES */
main div.info{
    text-align: justify;
}

/* TELA FALE CONOSCO - MEUS CONTATOS*/
main div.contato{
    text-align: center;
    margin: 20px;
}

main#pagina-informacao{
    overflow: scroll; /* COMANDO PARA DAR A ROLAGEM DOS TEXTO DENTRO DA DIV */
    border-radius: 10px;
    text-align: justify;
}

#pagina-informacao button{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(17, 90, 5);
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 3px black;
    margin: auto;
}

#pagina-informacao button:hover{
    background-color: rgb(97, 146, 95);
    cursor: pointer;
}

#duende-escudo{
    display: grid;
    margin: 25px auto;
}

#pagina-informacao .texto-informativo{
    text-indent: 20px;
}

#pagina-informacao .topico{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: rgb(23, 74, 23);
}

/* TELA FALE CONOSCO - LINKS SOCIAIS*/
main nav{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    color: rgb(30, 97, 30)
}

input::placeholder{
    color: rgba(0, 0, 0, 0.684);
}

/* DIV BOTOES LADO A LADO */
main .botao-esq-dir{
    display: flex;
    justify-content: space-around;
}

.botao-esq-dir button{
    margin: 30px;
    width: 35%;
    height: 43px;
    border-radius: 10px;
    border: none;
    background-color: rgb(17, 90, 5);
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 3px black;
}

/* BOTAO DE VOLTAR */
.botao-voltar{
    margin: auto;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(17, 90, 5);
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 3px black;
}

button:hover{
    background-color: rgb(97, 146, 95);
    cursor: pointer;
}

/* RODAPÉ */
footer{
    font-size: 15px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(59, 59, 59);
}